body {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background: white;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    padding: 10px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 26px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 18px;
    font-size: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

.zero {
    grid-column: span 2;
}